html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}

.mainText {
    padding: 75px 20px;
}

.smallText {
    text-align: right;
    color: grey;
}

.makeYourOwnDiv {
    color: grey;
    margin: 0px;
}

.szary-prostokat {
    background-color: #ccc; /* Kolor t³a szarego prostok¹ta */
    padding: 20px; /* Dodajemy padding, aby zawartoœæ nie by³a przyklejona do krawêdzi */
}

.img-fluid {
    max-width: 100%;
    height: 20%;
}