
@page
@model RazorPizzeria.Pages.Checkout.CheckoutModel
@{
}

<div>

	<div>
        <title>Prostokąt w Razor Page</title>
        <style>
            /* Styl dla diva */
            .szary-prostokat {
                width: 200px; /* Szerokość diva */
                height: 100px; /* Wysokość diva */
                background-color: gray; /* Kolor tła - szary */
                border: 1px solid black; /* Obramowanie diva - czarne, 1 piksel szerokości */
                margin: 10px; /* Margines wokół diva - 10 pikseli */
            }
        </style>
	</div>

	<div>
        <style>
            /* Styl dla diva */
            .szary-prostokat {
                width: 200px; /* Szerokość diva */
                height: 100px; /* Wysokość diva */
                background-color: gray; /* Kolor tła - szary */
                border: 1px solid black; /* Obramowanie diva - czarne, 1 piksel szerokości */
                margin: 10px; /* Margines wokół diva - 10 pikseli */
            }
        </style>
	</div>

</div>

<a class="nav-link text-dark" asp-area="" asp-page="/Checkout/ThankYou">ThankYou</a>