@page
@model RazorPizzeria.Pages.Forms.CustomPizzaModel;

<div class="text-center container">
	<h1>Twórz swoją pizze</h1>
	<form method="post">
		<input type="text" asp-for="Pizza.PizzaName" placeholder="Nazwa pizzy to..."/>

		<br/>
		<input type="checkbox" class="Pizza.TomatoSauce" asp-for="Pizza.TomatoSauce"/>Sos pomidorowy
		<br />
		<input type="checkbox" class="Pizza.Cheese" asp-for="Pizza.Cheese" />Ser
		<br />
		<input type="checkbox" class="Pizza.Peperoni" asp-for="Pizza.Peperoni" />Peperoni
		<br />
		<input type="checkbox" class="Pizza.Mushroom" asp-for="Pizza.Mushroom" />Pieczarki
		<br />
		<input type="checkbox" class="Pizza.Tuna" asp-for="Pizza.Tuna" />Tuńczyk
		<br />
		<input type="checkbox" class="Pizza.Pineaple" asp-for="Pizza.Pineaple" />Ananas
		<br />
		<input type="checkbox" class="Pizza.Ham" asp-for="Pizza.Ham" />Szynka
		<br/>
		<input type="checkbox" class="Pizza.Beef" asp-for="Pizza.Beef" />Wołowina
		<br />

		<button class="btn btn-primary mt-1" type="submit">Zamów pizzę</button>
	</form>
</div>