@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">

    <div class="mainText">
        <h2 class="display-4">Pizzeria</h2>
        
    </div>
    <img class="mainImage" src="~/images/PizzaTime.jpg" />
    <br/>
    <a class="btn btn-primary mt-1" asp-area="" asp-page="/Pizza">BRING ME PIZZA</a>
</div>
